{% set section = site.get('sections/members') %}
{% set members = section.children.include_hidden(true).include_undiscoverable(true) %}
{# get members that are alumni #}
{# {% set members = members|selectattr("alumni") %} #}

<section class="page-section portfolio" id="{{ section._id }}">

    <div class="row justify-content-center">
        <a class="btn btn-l btn-outline-dark" data-toggle="collapse" data-target="#alumniCollapse" aria-expanded="true" aria-controls="alumniCollapse">
            <i class="fa" aria-hidden="true"></i>
            Lab Alumni
        </a>
    </div>

    <div class="container collapse" id="alumniCollapse">
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Items-->
            {% for member in members.order_by('-year')|selectattr("alumni") %}
            <!-- {{ member.title }} -->
            {% include "people.html" %}
            <!-- {{ member.title }}: Thing that pops up when panel is clicked -->

            {% endfor %}
        </div>
    </div>
</section>