<!-- Footer-->
<footer class="footer text-center bg-primary">
    <div class="container">
        <div class="row justify-content-md-center">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    {{ this.location }}
                </p>
            </div>
            <!-- Footer Social Icons-->
            <!--
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="{{ this.twitter }}"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="{{ this.github }}"><i class="fab fa-fw fa-github"></i></a>
            </div>
            -->
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">This Site</h4>
                <p class="lead mb-0">
                    {{ this.website }}
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="bg-secondary py-4 text-center text-white">
    <div class="container"><small>{{ this.copyright }}</small></div>
</div>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
            class="fa fa-chevron-up"></i></a>
</div>